* {
    margin: 0;
    padding: 0;
    font-family: "SourceHanSans";
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

// model弹框底部按钮位置
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
// drawer弹框底部按钮位置
.drawer-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

// 定义思源黑体
@font-face {
    font-family: "SourceHanSans";
    src: url("/font/SourceHanSansCN-VF.otf.woff2");
}