/*
  全局变量
*/


/*------------------↓layout↓------------------*/

// layout
$layout-gap: 10px; // layout-right的左右两侧宽度

// aside
$aside-width: 280px; // 菜单栏总宽度
$edge-menu-width: 90px; 
$edge-menu-logo-box-height: 60px; // 
$edge-menu-logo-width: 40px;
$edge-menu-logo-height: 40px;

$menu-logo-box-height: 60px;

// header
$header-height: 60px; // header高度
$header-box-radius: 10px; // 统一圆角

// tabbar
$tabbar-height: 30px; // tabbar高度，功能按钮的宽高
$tabbar-radius: 4px; // 标签和按钮的圆角
$tab-item-gap: 10px//标签间距和按钮间距

/*------------------↓layout↓------------------*/