/*
  全局变量
*/


/*------------------↓layout↓------------------*/

// layout
$layout-gap: 10px; // layout-right的左右两侧宽度
$box-radius: 10px;

// aside
$aside-width: 260px; // 菜单栏总宽度
$edge-menu-width: 80px;
$edge-menu-logo-box-height: 60px; //
$edge-menu-logo-width: 40px;
$edge-menu-logo-height: 40px;

$menu-logo-box-height: 60px;

// header
$header-height: 60px; // header高度
$header-box-radius: $box-radius; // 统一圆角

// tabBar
$tab-bar-height: 30px; // tabBar高度，功能按钮的宽高
$tab-bar-radius: 4px; // 标签和按钮的圆角
$tab-item-gap: 10px;//标签间距和按钮间距

// footer
$footer-height: 60px;
$footer-box-radius: $box-radius;

// content
$content-height: calc(100vh - $header-height - $tab-bar-height - $footer-height - 4 * $layout-gap);
$content-box-radius: $box-radius;

/*------------------↓公共组件↓------------------*/

$card-box-radius: $box-radius;
$card-box-padding: 20px;
